/*
Colors used:
Primary Color (White): #FFFFFF;
Secondary Color (Black): #000000;
*/

* {
  box-sizing: border-box;
}
.logo {
  max-width: 100px;
  align: center;
}
header {
  background-color: #F3F7F4;
  text-align: center;
  padding: 10px 0;
  box-shadow:  0px 0px 11px 0px rgba(50, 50, 50, 0.5);
  position: fixed;
  display: inline-block;
  width: 100%;
}
#hero {
    background-color: #F3F7F4;
    padding: 30px 0;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
main {
  padding-top: 200px;
  background-color: #F3F7F4;
}
footer {
  background-color: #F3F7F4;
  text-align: center;
  display: inline-block;
  width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400;
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 2.00em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
/* Layout Styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 25px 0 0: /* 25px top and bottom, 0 left and right */
}
#work .row {
padding-bottom: 25px;
}
#hero h1 {
  text-align: center; /* Centers text */
}
a {
  color: #5E6E6E;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #160F29;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #28231C;
}
a:hover,
a:focus {
  color: #2F3737;
  text-decoration: underline;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #6B7D7D;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 1px solid #5E6E6E; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #6B7D7D;
  text-transform: uppercase;
  border: 2px solid #6B7D7D;
}
.button.contact:hover {
  background-color: #6B7D7D;
  color: #ffffff;
}
